<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public-Profile</title>
    <link rel="stylesheet" href="/stylesheets/userProfile.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.4.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <header>
        <div>
            <img src="<%=user.avatar%>" alt="User Avatar" id="avatar">
            <h3>@<%=user.username%> - Projects</h3>
        </div>
        <section>
            <a href="/projects">Home</a>
            <a href="/users/newUser">Create Account Now</a>
            <a href="/users">Login</a>
        </section>
    </header>
    <header id="fakeWala">
        <div>
            <img src="/images/.jpg" alt="User Avatar" id="avatar">
            <h3>@<%=user.username%> - Projects</h3>
        </div>
        <section>
            <a href="/projects">Home</a>
            <a href="/users/newUser">Create Account Now</a>
            <a href="/users">Login</a>
        </section>
    </header>
    <div id="popup" class="hidden">
        <div class="popup-content">
            <div id="avatarPhoto">
                <img src="<%=user.avatar%>" alt="User Avatar" class="large-avatar">
            </div>
                       
            <h3><%=user.username%></h3>
            <form method="post" action="/users/<%=user.erp_id%>/avtar" enctype="multipart/form-data">
                <label for="newAvatar" class="custom-upload-btn">Upload Avatar</label>
                <input type="file" name="image" id="newAvatar" accept="image/*"> <br>
                <button type="submit" id="closeBtn">Done</button>
            </form>
        </div>
    </div>
   
    <div id="main">
        <% for(let project of projects){ %>
            <div class="all">
                <div class="username">
                            <div class="userAvatar">
                                <img src="<%=user.avatar%>" alt="Avatar">
                            </div>
                    <h2>@<%= project.username %></h2>
                </div>
            <div class="reviews">
                <div class="left">
                    <h1><%= project.title %></h1>
                    <p><%= project.description %></p>
                    <% if (project.link) { %>
                        <a href="<%= project.link %>" class="runSite" target="_blank">View Demo</a>
                      <% } else { %>
                        <span class="noLink runSite" style="background-color: red;">No Demo</span>
                      <% } %> 
                </div>
               <div class="right">
                 <div class="pic">
                    <img src="<%= project.imagePath %>" alt="Project Photo">
                    <!-- <img src="\images\uploads\1733690768285-Screenshot 2024-11-01 203657.png" alt="Project Photo"> -->
                    
                 </div>
                 <!-- paste from z_extra here -->
               </div>
            </div>
            <small>Published On:- <%= project.created_at.toString().split(" ").slice(0,4).join(" ")%></small>
            <small>At : <%= project.created_at.toString().split(" ")[4]%></small>
         </div>
        <% } %>
    </div> <br><br>
    <script src="/javascripts/imageOpen.js"></script>
</body>
</html>